{% extends 'base.html' %}

{% block title %}{% if client.client_id %}Edit{% else %}Create{% endif %} Client{% endblock %}

{% block content %}
<h1>{% if client.client_id %}Edit{% else %}Create{% endif %} Client</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ client.name|default:'' }}" required>
    </div>
    <div class="form-group">
        <label for="contact_name">Contact Name:</label>
        <input type="text" id="contact_name" name="contact_name" value="{{ client.contact_name|default:'' }}">
    </div>
    <div class="form-group">
        <label for="contact_number">Contact Number:</label>
        <input type="text" id="contact_number" name="contact_number" value="{{ client.contact_number|default:'' }}">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ client.email|default:'' }}">
    </div>
    <div class="form-group">
        <label for="address_line1">Address Line 1:</label>
        <input type="text" id="address_line1" name="address_line1" value="{{ client.address_line1|default:'' }}">
    </div>
    <div class="form-group">
        <label for="address_line2">Address Line 2:</label>
        <input type="text" id="address_line2" name="address_line2" value="{{ client.address_line2|default:'' }}">
    </div>
    <div class="form-group">
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" value="{{ client.country|default:'' }}">
    </div>
    <div class="form-group">
        <label for="state">State:</label>
        <input type="text" id="state" name="state" value="{{ client.state|default:'' }}">
    </div>
    <div class="form-group">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" value="{{ client.city|default:'' }}">
    </div>
    <div class="form-group">
        <label for="code">Code:</label>
        <input type="text" id="code" name="code" value="{{ client.code|default:'' }}">
    </div>
    <button type="submit" class="btn">Save</button>
</form>
<a href="{% url 'client_list' %}" class="btn">Cancel</a>
{% endblock %}